<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Editor JSON</title>
    <link rel="icon" href="notepad_15342.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css">
    <style>
        .btn-secondary{
             background-color: #1e1e1e !important;
             border: 1px solid black !important;
             margin-top: 15px;
        }
        .btn-secondary:hover{
             background-color: #353535 !important;
             border: 1px solid black !important;
             margin-top: 15px;
        }
    </style>
</head>
<body style="background-color: #121212;">
    <div class="container">
        <br>
         <label for="dadosMensagem" class="form-label"><h2 style="color: #a1a1a1;">Dados da mensagem:</h2></label>
        <div class="row" id="dadosMensagem">
            <table style="color: #a1a1a1; text-align: justify; margin-left: 15px;" class="col-5">
                <tr> 
                    <th><b>Fila de Origem:</b></th>
                    <th id="filaOrigem"></th>
                </tr>
                <tr>
                    <th><b>Tipo da Mensagem:</b></th>
                    <th id="tipoMensagem"></th>
                </tr>
                <tr>
                    <th><b>Mensagem de Erro:</b></th>
                    <th id="mensagemErro"></th>
                </tr>
                <tr>
                    <th><b>Data do Erro:</b></th>
                    <th id="timestamp"></th>
                </tr>
            </table>
        </div>
        <br>
        <label for="estruturaMensagem" class="form-label"><h2 style="color: #a1a1a1;">Estrutura de mensagem esperada:</h2></label>
        <div class="row" id="estruturaMensagem" style="height: 200px; border: 1px solid black;" aria-disabled="true" aria-readonly="true"></div>
        <br>
        <label for="editorJSON" class="form-label"><h2 style="color: #a1a1a1;">Edite a mensagem:</h2></label>
        <br>
        <div id="editorJSON" style="height: 600px; border: 1px solid black;" class="row"></div>
        <div class="row">
            <button onclick="validarJSON()" class="btn btn-secondary col-2">validar JSON</button>
        </div>
        <div class="row">
            <div class="col-12" id="textLocal"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.44.0/min/vs/loader.min.js"></script>
    
    
    <script>
        window.onload = capturarIdUrl();
        var id
        var mensagem

        function exibirDadosMensagem() {
            document.getElementById('filaOrigem').innerHTML = mensagem.filaDeOrigem
            document.getElementById('tipoMensagem').innerHTML = mensagem.tipoMensagem
            document.getElementById('mensagemErro').innerHTML = mensagem.mensagemDeErro
            document.getElementById('timestamp').innerHTML = mensagem.timestamp
        }


        function capturarIdUrl() {
            var URL = window.location.pathname
            var separadorDeUrl = URL.split("editor/")
            if(separadorDeUrl[1] == null) {
                alert("Não foi possível localizar um id de mensagem")
            }
            id = separadorDeUrl[1]
            buscarJSON();
        }

        async function buscarJSON() {
            const URL = "http://localhost:9091/mensagem/obter/" + id
            try {
                const response = await fetch(URL)
                if(!response.ok) {
                    throw new Error('Estado da resposta: ' + response.status)
                }
                mensagem = await response.json()
                console.log(mensagem)
                exibirDadosMensagem()
            } catch(error) {
                console.error('Erro ao buscar JSON:', error)
            }
        }

    
        var editor
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs'}})
        require(["vs/editor/editor.main"], () => {
            editor = monaco.editor.create(document.getElementById('editorJSON'), {
            value: mensagem.mensagemOriginal,
            language: 'json',
            theme: 'vs-dark',
            })
        })

        require(["vs/editor/editor.main"], () => {
            monaco.editor.create(document.getElementById('estruturaMensagem'), {
            value: mensagem.mensagemOriginal,
            language: 'json',
            theme: 'vs-dark',
            })
        })

        function validarJSON() {
            try {
                JSON.parse(editor.getValue())
                document.getElementById('textLocal').innerHTML = "<h1 style=\"color: white\">JSON válido</h1>"
            } catch(error) {
                document.getElementById('textLocal').innerHTML = "<h1 style=\"color: white\">JSON inválido</h1>"
        }
    }

    </script>

</body>

